<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Grocery Store</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-image: url('/static/images/grocery_bg.jpg'); background-size: cover;">
  <div class="container home">
    <h1>Welcome to Online Grocery Store</h1>
    <div class="button-group">
      <a href="/login" class="btn">Customer Login</a>
      <a href="/register" class="btn">Customer Register</a>
      <a href="/admin_login" class="btn admin">Admin Login</a>
    </div>
  </div>
</body>
</html>